<form method="post" action="/articles">
  <label for="title" name="title">Title</label>
  <input type="text" id="title" name="article[title]">
  <label for="content" name="content">Content</label>
  <input type="text" id="content" name="article[content]">
  <input type="submit" value="submit">
</form>